# Dont store any .DS_Store files
.DS_Store
~/*
/cpe_nudge/files/custom/company_logo.png
/cpe_nudge/files/custom/update_ss.png
/cpe_umad/files/custom/company_logo.png
/cpe_umad/files/custom/nag_ss.png
/cpe_umad/files/custom/uamdm_ss.png
